<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!-- mybatis-config.xml -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.littlekakao.travelblahblah.journey.domain"/>
        <package name="com.littlekakao.travelblahblah.user.domain"/>
    </typeAliases>
</configuration>